# ðŸš— Used Car Price Prediction

## ðŸ“Œ Domain Overview
The dataset is collected from **Quikr**, a used car selling platform...

### ðŸ§¾ Features:
- **name**: Full car model
- **company**: Brand (e.g., Maruti, Tata)
- **year**: Year of manufacture
- **Price**: Selling price
- **kms_driven**: How much the car has run
- **fuel_type**: Fuel category (Petrol, Diesel)

---

## ðŸ§ª Objective:
Predict the **price of a used car** based on available features.

---

In [6]:
import numpy as np
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
# %matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [7]:
car=pd.read_csv('quikr_car.csv')

In [8]:
car.sample(10)

,name,company,year,Price,kms_driven,fuel_type
776,Mahindra Scorpio S4,Mahindra,2015,"7,95,000","63,000 kms",Diesel
160,Fiat Punto Emotion 1.2,Fiat,2012,"1,69,500","37,200 kms",Diesel
87,Hyundai i20 Magna,Hyundai,2009,"1,95,000","32,000 kms",Petrol
645,Sale Hyundai xcent commerc,Sale,no.,Ask For Price,NaN,NaN
90,Toyota Corolla Altis Petrol Ltd,Toyota,2009,"2,40,000","35,000 kms",Petrol
514,Hindustan Motors Ambassador,Hindustan,2002,"90,000","25,000 kms",Diesel
769,Ford Fusion 1.4 TDCi Diesel,Ford,2007,"1,25,000","85,455 kms",Diesel
150,Hyundai Elite i20,Hyundai,2018,"5,99,999","21,000 kms",Petrol
837,Datsun Go Plus,Datsun,2016,"2,85,000","13,900 kms",Petrol
383,Chevrolet Beat Diesel,Chevrolet,2017,"1,50,000","62,000 kms",Diesel

In [9]:
car.shape

(892, 6)

In [21]:
car_copy=car.copy

In [10]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0    name       892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [81]:
car_models = sorted(car['name'].unique())

In [82]:

for col in car.columns:
    print(f"Unique values in '{col}':")
    print(car[col].unique())
    print('-' * 40)

Unique values in 'Unnamed: 0':
[  0   1   3   4   6   7   8   9  10  11  12  13  14  15  16  17  18  19
  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37
  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55
  56  57  58  59  60  61  62  63  64  65  66  67  68  70  71  72  73  74
  75  76  77  78  79  80  81  82  83  84  86  87  88  89  90  91  92  93
  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111
 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129
 130 131 133 134 135 136 137 139 140 141 142 143 144 145 146 147 148 149
 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167
 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 186
 187 188 189 190 191 192 193 194 196 197 198 199 200 201 202 203 204 205
 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224
 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242
 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260
 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278
 279 280 281 282 283 284 285 287 288 289 290 291 292 293 296 297 298 299
 300 301 302 303 305 306 307 308 309 310 311 312 313 314 315 316 317 318
 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336
 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354
 355 356 357 358 359 361 362 363 364 365 366 367 369 370 371 372 373 374
 375 376 377 378 379 380 381 382 383 384 386 387 389 390 391 392 393 394
 396 397 398 399 400 402 403 404 405 406 407 408 409 410 411 412 413 415
 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 434 435
 436 437 438 439 440 442 443 444 445 446 447 448 450 451 452 453 454 455
 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473
 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491
 492 493 494 495 496 497 498 499 500 501 502 504 505 506 507 508 509 510
 512 513 514 515 516 517 518 519 520 521 522 523 525 526 527 528 529 530
 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548
 549 550 551 552 553 554 555 556 557 558 559 561 563 564 565 566 568 569
 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587
 588 589 590 591 592 594 595 596 597 598 600 601 602 603 604 605 606 607
 609 610 611 612 615 617 618 620 621 622 623 625 626 627 628 629 630 631
 632 633 636 637 638 639 640 641 642 644 646 647 648 649 650 651 652 653
 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671
 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689
 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707
 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722 724 726 727
 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746
 747 748 749 750 751 752 753 754 755 756 757 759 760 761 762 765 766 767
 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784 785
 786 787 788 789 790 791 793 794 804 813 814 815 816 817 818 819 820 821
 823 824 825 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841
 842 843 844 846 847 849 850 851 852 853 855 856 857 858 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 883 885 886 888 889]
----------------------------------------
Unique values in 'name':
['Hyundai Santro Xing XO eRLX Euro III' 'Mahindra Jeep CL550 MDI'
 'Hyundai Grand i10 Magna 1.2 Kappa VTVT'
 'Ford EcoSport Titanium 1.5L TDCi' 'Ford Figo' 'Hyundai Eon'
 'Ford EcoSport Ambiente 1.5L TDCi' 'Maruti Suzuki Alto K10 VXi AMT'
 'Skoda Fabia Classic 1.2 MPI' 'Maruti Suzuki Stingray VXi'
 'Hyundai Elite i20 Magna 1.2' 'Mahindra Scorpio SLE BS IV' 'Audi A8'
 'Audi Q7' 'Mahindra Scorpio S10' 'Maruti Suzuki Alto 800'
 'Maruti Suzuki Alto 800 Vxi' 'Hyundai i20 Sportz 1.2'
 'Maruti Suzuki Alto 800 Lx' 'Maruti Suzuki Vitara Brezza ZDi'
 'Maruti Suzuki Alto LX' 'Mahindra Bolero DI'
 'Maruti Suzuki Swift Dzire ZDi' 'Mahindra Scorpio S10 4WD'
 'Maruti Suzuki Swift Vdi BSIII' 'Maruti Suzuki Wagon R VXi BS III'
 'Maruti Suzuki Wagon R VXi Minor' 'Toyota Innova 2.0 G 8 STR BS IV'
 'Renault Lodgy 85 PS RXL' 'Skoda Yeti Ambition 2.0 TDI CR 4x2'
 'Maruti Suzuki Baleno Delta 1.2' 'Renault Duster 110 PS RxZ Diesel Plus'
 'Renault Duster 85 PS RxE Diesel' 'Honda City 1.5 S MT'
 'Maruti Suzuki Dzire' 'Honda Amaze' 'Honda Amaze 1.5 SX i DTEC'
 'Honda City' 'Datsun Redi GO S' 'Maruti Suzuki SX4 ZXI MT'
 'Mitsubishi Pajero Sport Limited Edition'
 'Maruti Suzuki Swift VXi 1.2 ABS BS IV' 'Honda City ZX CVT'
 'Maruti Suzuki Wagon R LX BS IV' 'Tata Indigo eCS LS CR4 BS IV'
 'Volkswagen Polo Highline Exquisite P' 'Chevrolet Spark LS 1.0'
 'Renault Duster 110PS Diesel RxZ' 'Mini Cooper S 1.6'
 'Skoda Fabia 1.2L Diesel Ambiente' 'Renault Duster' 'Mahindra Scorpio S4'
 'Mahindra Scorpio VLX 2WD BS IV' 'Mahindra Quanto C8' 'Ford EcoSport'
 'Honda Brio' 'Volkswagen Vento Highline Plus 1.5 Diesel AT'
 'Hyundai i20 Magna' 'Toyota Corolla Altis Diesel D4DG'
 'Hyundai Verna Transform SX VTVT' 'Toyota Corolla Altis Petrol Ltd'
 'Honda City 1.5 EXi New' 'Skoda Fabia 1.2L Diesel Elegance'
 'BMW 3 Series 320i' 'Maruti Suzuki A Star Lxi' 'Toyota Etios GD'
 'Ford Figo Diesel EXI Option' 'Maruti Suzuki Swift Dzire VXi 1.2 BS IV'
 'Chevrolet Beat LT Diesel' 'BMW 7 Series 740Li Sedan'
 'Mahindra XUV500 W8 AWD 2013' 'Hyundai i10 Magna 1.2'
 'Hyundai Verna Fluidic New' 'Maruti Suzuki Swift VXi 1.2 BS IV'
 'Maruti Suzuki Ertiga ZXI Plus' 'Maruti Suzuki Ertiga Vxi'
 'Maruti Suzuki Ertiga VDi' 'Maruti Suzuki Alto LXi BS III'
 'Hyundai Grand i10 Asta 1.1 CRDi' 'Honda Amaze 1.2 S i VTEC'
 'Hyundai i20 Asta 1.4 CRDI 6 Speed' 'Ford Figo Diesel EXI'
 'Maruti Suzuki Eeco 5 STR WITH AC HTR' 'Maruti Suzuki Ertiga ZXi'
 'Maruti Suzuki Esteem LXi BS III' 'Maruti Suzuki Ritz VXI'
 'Maruti Suzuki Ritz LDi' 'Maruti Suzuki Dzire VDI' 'Toyota Etios Liva G'
 'Hyundai i20 Sportz 1.4 CRDI' 'Chevrolet Spark' 'Nissan Micra XV'
 'Maruti Suzuki Swift' 'Honda Amaze 1.5 S i DTEC' 'Chevrolet Beat'
 'Honda City 1.5 V MT' 'Ford EcoSport Trend 1.5L TDCi'
 'Hyundai i20 Asta 1.2' 'Tata Indica V2 eLS' 'Hindustan Motors Ambassador'
 'Toyota Corolla Altis 1.8 GL' 'Toyota Corolla Altis 1.8 J'
 'Toyota Innova 2.5 GX BS IV 7 STR' 'Volkswagen Jetta Highline TDI AT'
 'Volkswagen Polo Comfortline 1.2L P' 'Volkswagen Polo' 'Mahindra Scorpio'
 'Nissan Sunny' 'Hyundai Elite i20' 'Renault Kwid'
 'Mahindra Scorpio VLX Airbag' 'Maruti Suzuki Alto 800 Lxi'
 'Chevrolet Spark LT 1.0' 'Datsun Redi GO T O'
 'Maruti Suzuki Swift RS VDI' 'Fiat Punto Emotion 1.2'
 'Hyundai i10 Sportz 1.2' 'Chevrolet Beat LT Opt Diesel'
 'Chevrolet Beat LS Diesel' 'Tata Indigo CS' 'Maruti Suzuki Swift VDi'
 'Hyundai Eon Era Plus' 'Mahindra XUV500' 'Ford Fiesta'
 'Maruti Suzuki Wagon R' 'Hyundai i20' 'Tata Indigo eCS LX TDI BS III'
 'Hyundai Fluidic Verna 1.6 CRDi SX' 'Fiat Petra ELX 1.2 PS'
 'Hyundai Santro Xing XS' 'Maruti Suzuki Ciaz VXi Plus'
 'Maruti Suzuki Zen VX' 'Hyundai Creta 1.6 SX Plus Petrol'
 'Mahindra Scorpio SLX' 'Toyota Innova 2.5 G BS III 8 STR'
 'Maruti Suzuki Wagon R LXI BS IV' 'Tata Nano Cx BSIV'
 'Maruti Suzuki Alto Std BS IV' 'Maruti Suzuki Wagon R LXi BS III'
 'Maruti Suzuki Swift VXI BSIII' 'Tata Sumo Victa EX 10 by 7 Str BSIII'
 'Volkswagen Passat Diesel Comfortline AT'
 'Renault Scala RxL Diesel Travelogue'
 'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT' 'Hyundai i20 Active 1.2 SX'
 'Mahindra Xylo E4' 'Mahindra Jeep MM 550 XDB' 'Mahindra Bolero SLE BS IV'
 'Force Motors Force One LX ABS 7 STR' 'Maruti Suzuki SX4' 'Toyota Etios'
 'Honda City ZX VTEC' 'Maruti Suzuki Wagon R LX BS III'
 'Honda City VX O MT Diesel' 'Mahindra Thar CRDe 4x4 AC'
 'Audi A4 1.8 TFSI Multitronic Premium Plus'
 'Mercedes Benz GLA Class 200 CDI Sport' 'Land Rover Freelander 2 SE'
 'Renault Kwid RXT' 'Tata Aria Pleasure 4X2'
 'Mercedes Benz B Class B180 Sports' 'Datsun GO T O' 'Honda Jazz VX MT'
 'Hyundai i20 Active 1.4L SX O' 'Mini Cooper S'
 'Maruti Suzuki Ciaz ZXI Plus' 'Chevrolet Tavera Neo' 'Hyundai Eon Sportz'
 'Tata Sumo Gold Select Variant' 'Maruti Suzuki Wagon R 1.0'
 'Maruti Suzuki Esteem VXi BS III' 'Chevrolet Enjoy 1.4 LS 8 STR'
 'Maruti Suzuki Wagon R 1.0 VXi' 'Nissan Terrano XL D Plus'
 'Renault Duster 85 PS RxL Diesel' 'Maruti Suzuki Dzire ZXI'
 'Renault Kwid RXT Opt' 'Maruti Suzuki Maruti 800 Std'
 'Renault Kwid 1.0 RXT AMT' 'Renault Scala RxL Diesel'
 'Hyundai Grand i10 Asta 1.2 Kappa VTVT O' 'Chevrolet Beat LS Petrol'
 'Hyundai Accent GLX' 'Mahindra TUV300 T4 Plus'
 'Tata Indica V2 Xeta e GLE' 'Tata Indigo CS LS DiCOR'
 'Mahindra Scorpio VLX Special Edition BS III' 'Honda Accord'
 'Ford EcoSport Titanium 1.5 TDCi' 'Maruti Suzuki Ertiga'
 'Mahindra Scorpio 2.6 CRDe' 'Honda Mobilio' 'Toyota Corolla Altis'
 'Skoda Laura' 'Hyundai Verna Fluidic' 'Maruti Suzuki Vitara Brezza'
 'Tata Manza Aura Quadrajet' 'Chevrolet Sail UVA Petrol LT ABS'
 'Hyundai Verna Fluidic 1.6 VTVT SX' 'Audi A4 2.0 TDI 177bhp Premium'
 'Hyundai Elantra SX' 'Mahindra Scorpio VLX 4WD Airbag'
 'Mahindra KUV100 K8 D 6 STR' 'Hyundai Grand i10' 'Hyundai i10'
 'Hyundai i20 Active' 'Datsun Redi GO' 'Toyota Etios Liva'
 'Hyundai Accent' 'Hyundai Verna' 'Toyota Fortuner' 'Hyundai i10 Sportz'
 'Mahindra Bolero Power Plus SLE' 'Honda City 1.5 V MT Exclusive'
 'Chevrolet Spark LT 1.0 Airbag' 'Tata Indigo eCS VX CR4 BS IV'
 'Skoda Rapid Elegance 1.6 TDI CR MT' 'Tata Vista Quadrajet VX'
 'Maruti Suzuki Alto K10 VXi AT' 'Maruti Suzuki Zen LXi BS III'
 'Maruti Suzuki Swift Dzire Tour LDi' 'Honda City ZX EXi'
 'Chevrolet Beat Diesel' 'Hyundai Verna 1.4 VTVT'
 'Toyota Innova 2.5 E MS 7 STR BS IV'
 'Maruti Suzuki Maruti 800 Std â€“ Befo' 'Hyundai Elite i20 Asta 1.4 CRDI'
 'Maruti Suzuki Versa DX2 8 SEATER BSIII' 'Tata Indigo LX TDI BS III'
 'Volkswagen Vento Konekt Diesel Highline'
 'Mercedes Benz C Class 200 CDI Classic' 'Hyundai Santro Xing GLS'
 'Maruti Suzuki Omni Limited Edition'
 'Hyundai Sonata Transform 2.4 GDi MT' 'Hyundai Elite i20 Sportz 1.2'
 'Honda Jazz S MT' 'Hyundai Grand i10 Sportz 1.2 Kappa VTVT'
 'Maruti Suzuki Zen LXi BSII' 'Mahindra Scorpio W Turbo 2.6DX 9 Seater'
 'Maruti Suzuki Alto K10 VXi' 'Hyundai Grand i10 Asta 1.2 Kappa VTVT'
 'Mahindra XUV500 W8' 'Hyundai i20 Magna O 1.2'
 'Renault Duster 85 PS RxL Explore LE' 'Honda Brio V MT'
 'Mahindra TUV300 T8' 'Nissan X Trail Select Variant'
 'Ford Ikon 1.3 CLXi NXt Finesse' 'Toyota Fortuner 3.0 4x4 MT'
 'Tata Manza ELAN Quadrajet' 'Mercedes Benz A Class A 180 Sport Petrol'
 'Tata Indigo LS' 'Hyundai i20 Magna 1.2' 'Honda Amaze 1.5 E i DTEC'
 'Hyundai Verna 1.6 EX VTVT' 'BMW 5 Series 520d Sedan'
 'Skoda Superb 1.8 TFSI AT' 'Audi Q3 2.0 TDI quattro Premium'
 'Mahindra Bolero DI BSII' 'Ford Figo Duratorq Diesel Titanium 1.4'
 'Maruti Suzuki Wagon R VXI BS IV' 'Mahindra Logan Diesel 1.5 DLS'
 'Tata Nano GenX XMA' 'Honda City SV' 'Ford Figo Petrol LXI'
 'Hyundai i10 Magna 1.2 Kappa2' 'Toyota Corolla H2'
 'Maruti Suzuki Swift Dzire Tour VXi' 'Tata Indigo CS eLS BS IV'
 'Hyundai Xcent Base 1.1 CRDi' 'Hyundai Accent Executive Edition'
 'Tata Zest XE 75 PS Diesel' 'Maruti Suzuki Dzire LDI'
 'Tata Sumo Gold LX BS IV' 'Toyota Corolla Altis GL Petrol'
 'Maruti Suzuki Eeco 7 STR' 'Toyota Fortuner 3.0 4x2 MT'
 'Mahindra XUV500 W6' 'Tata Tigor Revotron XZ' 'Maruti Suzuki 800'
 'Honda Mobilio S i DTEC' 'Hyundai Verna 1.6 CRDI E'
 'Maruti Suzuki Omni Select Variant' 'Tata Indica' 'Hyundai Santro Xing'
 'Maruti Suzuki Zen Estilo' 'Honda Brio VX AT'
 'Maruti Suzuki Zen Estilo LXI Green CNG'
 'Maruti Suzuki Wagon R Select Variant' 'Tata Nano Lx BSIV'
 'Jaguar XE XE Portfolio' 'Hyundai Eon Magna Plus'
 'Maruti Suzuki Ritz GENUS VXI'
 'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT' 'Hyundai Eon D Lite Plus'
 'Honda Amaze 1.2 VX i VTEC' 'Maruti Suzuki Estilo VXi ABS BS IV'
 'Maruti Suzuki Vitara Brezza LDi O' 'Hyundai Creta 1.6 SX Plus Petrol AT'
 'Mahindra Scorpio Vlx BSIV' 'Mitsubishi Lancer 1.8 LXi'
 'Maruti Suzuki Maruti 800 AC' 'Maruti Suzuki Alto 800 LXI CNG O'
 'Ford Fiesta SXi 1.6 ABS' 'Maruti Suzuki Ritz VDi'
 'Maruti Suzuki Estilo LX BS IV' 'Audi A6 2.0 TDI Premium'
 'Maruti Suzuki Alto' 'Maruti Suzuki Baleno Sigma 1.2'
 'Hyundai Verna 1.6 SX VTVT AT' 'Maruti Suzuki Swift GLAM'
 'Hyundai Getz Prime 1.3 GVS' 'Hyundai Santro'
 'Hyundai Getz Prime 1.3 GLX' 'Chevrolet Beat PS Diesel'
 'Ford EcoSport Trend 1.5 Ti VCT' 'Tata Indica V2 DLG'
 'BMW X1 xDrive20d xLine' 'Honda City 1.5 V AT' 'Tata Nano'
 'Chevrolet Cruze LTZ AT' 'Maruti Suzuki Swift Dzire VDi'
 'Mahindra XUV500 W10' 'Maruti Suzuki Alto K10 LXi CNG'
 'Hyundai Accent GLE' 'Force Motors One SUV' 'Chevrolet Spark 1.0 LT'
 'Toyota Etios Liva GD' 'Renault Duster 85PS Diesel RxL Optional with Nav'
 'Chevrolet Enjoy' 'BMW 5 Series 530i' 'Chevrolet Cruze LTZ'
 'Jeep Wrangler Unlimited 4x4 Diesel' 'Hyundai Verna VGT CRDi SX ABS'
 'Maruti Suzuki Omni' 'Maruti Suzuki Celerio VDi'
 'Tata Zest Quadrajet 1.3' 'Tata Indigo CS eLX BS IV' 'Hyundai i10 Era'
 'Tata Indigo eCS LX CR4 BS IV' 'Tata Indigo Marina LS'
 'Hyundai Xcent SX 1.2' 'Tata Nano LX Special Edition'
 'Renault Duster 110 PS RxZ Diesel' 'Maruti Suzuki Wagon R AX BSIV'
 'Maruti Suzuki Alto K10 New' 'Mahindra Xylo E8'
 'Tata Manza Aqua Quadrajet' 'Renault Kwid 1.0' 'Tata Venture EX 8 STR'
 'Maruti Suzuki Swift Dzire Tour LXi' 'Skoda Octavia Classic 1.9 TDI MT'
 'Maruti Suzuki Omni LPG BS IV' 'Tata Sumo Gold EX BS IV'
 'Hyundai Verna 1.6 CRDI SX' 'Mahindra Scorpio SLX 2.6 Turbo 8 Str'
 'Ford Ikon 1.6 Nxt' 'Toyota Innova 2.5 V 7 STR' 'Nissan Sunny XL'
 'Maruti Suzuki Swift VDi BS IV' 'Toyota Innova 2.0 G4'
 'Maruti Suzuki Swift VDi ABS' 'Hyundai Elite i20 Asta 1.2'
 'Volkswagen Polo Trendline 1.5L D' 'Toyota Etios Liva Diesel'
 'Maruti Suzuki Ciaz ZXi Plus RS' 'Hyundai Elantra 1.8 S'
 'Ford EcoSport Trend 1.5L Ti VCT' 'Tata Indica eV2 LS'
 'Jaguar XF 2.2 Diesel Luxury' 'Audi Q5 2.0 TDI quattro Premium Plus'
 'BMW 3 Series 320d Sedan' 'Maruti Suzuki Swift ZXi 1.2 BS IV'
 'BMW X1 sDrive20d' 'Maruti Suzuki S Cross Sigma 1.3'
 'Maruti Suzuki Ertiga LDi' 'Volkswagen Vento Comfortline Petrol'
 'Mahindra KUV100' 'Maruti Suzuki Swift Dzire Tour VDi'
 'Mahindra Scorpio 2.6 SLX' 'Maruti Suzuki Omni 8 STR BS III'
 'Volkswagen Jetta Comfortline 1.9 TDI AT' 'Volvo S80 Summum D4'
 'Toyota Corolla Altis VL AT Petrol' 'Mitsubishi Pajero Sport 2.5 AT'
 'Chevrolet Beat LT Petrol' 'BMW X1'
 'Mercedes Benz C Class C 220 CDI Avantgarde'
 'Volkswagen Vento Comfortline Diesel' 'Tata Indigo CS GLS'
 'Ford Figo Petrol Titanium' 'Honda City ZX GXi'
 'Maruti Suzuki Wagon R Duo Lxi' 'Maruti Suzuki Zen LX BSII'
 'Renault Duster RxL Petrol' 'Maruti Suzuki Baleno Zeta 1.2'
 'Honda WR V S MT Petrol' 'Renault Duster 110 PS RxL Diesel'
 'Mahindra Scorpio LX BS III' 'Maruti Suzuki SX4 Celebration Diesel'
 'Audi A3 Cabriolet 40 TFSI' 'Hyundai Santro AE GLS Audio'
 'Mahindra Xylo D2 BS IV' 'Hyundai Getz GLE' 'Hyundai Creta 1.6 SX'
 'Hyundai Santro Xing XL AT eRLX Euro III'
 'Hyundai Santro Xing XL eRLX Euro III' 'Tata Indica V2 DLS BS III'
 'Honda City 1.5 E MT' 'Nissan Micra XL' 'Honda City 1.5 S Inspire'
 'Tata Indica eV2 eXeta eGLX' 'Maruti Suzuki Omni E 8 STR BS IV'
 'Maruti Suzuki Swift LDi' 'Hyundai Verna 1.6 CRDI SX Plus AT'
 'Chevrolet Tavera LS B3 10 Seats BSII' 'Tata Tiago Revotron XM'
 'Tata Tiago Revotorq XZ'
 'Hindustan Motors Ambassador Classic Mark 4 â€“ Befo'
 'Ford Fusion 1.4 TDCi Diesel' 'Fiat Linea Emotion 1.4 L T Jet Petrol'
 'Ford Ikon 1.3 Flair Josh 100' 'Tata Indica V2 LS' 'Mahindra Xylo D2'
 'Toyota Corolla' 'Hyundai Eon Magna' 'Tata Sumo Grande MKII GX'
 'Volkswagen Polo Highline1.2L P' 'Tata Tiago Revotron XZ'
 'Tata Indigo eCS' 'Mahindra Xylo E8 BS IV' 'Tata Sumo Gold FX BSIII'
 'Hyundai Creta' 'Tata Bolt XM Petrol' 'Maruti Suzuki Ritz'
 'Hyundai i20 Asta' 'Maruti Suzuki Swift Select Variant'
 'Tata Indica V2 DLX BS III' 'Mahindra Scorpio VLX 2.2 mHawk Airbag BSIV'
 'Toyota Innova 2.5 E 8 STR' 'Mahindra KUV100 K8 6 STR' 'Datsun Go Plus'
 'Ford Endeavor 4x4 Thunder Plus' 'Tata Indica V2'
 'Hyundai Santro Xing GL' 'Toyota Innova 2.5 Z Diesel 7 Seater'
 'Maruti Suzuki Alto AX' 'Mahindra Logan' 'Maruti Suzuki 800 Std BS III'
 'Chevrolet Sail 1.2 LS' 'Tata Manza' 'Toyota Etios G' 'Toyota Qualis'
 'Mahindra Quanto C4' 'Maruti Suzuki Swift Dzire'
 'Hyundai i20 Select Variant' 'Honda City VX Petrol' 'Hyundai Getz'
 'Mercedes Benz C Class 200 K MT' 'Skoda Fabia'
 'Maruti Suzuki Ritz VXI ABS' 'Tata Indica V2 DLE BS III'
 'Tata Zest XM Diesel']
----------------------------------------
Unique values in 'company':
['Hyundai' 'Mahindra' 'Ford' 'Maruti' 'Skoda' 'Audi' 'Toyota' 'Renault'
 'Honda' 'Datsun' 'Mitsubishi' 'Tata' 'Volkswagen' 'Chevrolet' 'Mini'
 'BMW' 'Nissan' 'Hindustan' 'Fiat' 'Force' 'Mercedes' 'Land' 'Jaguar'
 'Jeep' 'Volvo']
----------------------------------------
Unique values in 'year':
[2007 2006 2014 2012 2013 2016 2015 2010 2017 2008 2018 2011 2019 2009
 2005 2000 2003 2004 1995 2002 2001]
----------------------------------------
Unique values in 'Price':
[  80000  425000  325000  575000  175000  190000  830000  250000  182000
  315000  415000  320000 1000000  500000  350000  160000  310000   75000
  100000  290000   95000  180000  385000  105000  650000  689999  448000
  549000  501000  489999  280000  349999  284999  345000  499999  235000
  249999 1475000  395000  220000  170000   85000  200000  570000  110000
  448999 1891111  159500  344999  449999  865000  699000  375000  224999
 1200000  195000  351000  240000   90000  155000  600000  189500  210000
  390000  135000 1600000  701000  265000  525000  372000  635000  550000
  485000  329500  251111  569999   69999  299999  399999  450000  270000
  158400  179000  125000  299000  150000  285000  340000   70000  289999
  849999  749999  274999  984999  599999  244999  474999  245000  169500
  275000  370000  168000  145000   98500  209000  185000  900000  699999
  199999  544999  199000  540000   49000  700000   55000  895000  355000
  565000  365000   40000  400000  330000  580000  379000  219000  519000
  730000 2000000 2100000 1400000  311000  855000  535000  178000  300000
  255000  549999  380000   57000  410000  225000  120000   59000  599000
  675000   72500  610000  230000  520000  524999  424999  644999  584999
  799999  444999  649999  944999  574999  374999  130000  401000 1350000
  174999  239999   99999  324999 1074999 1130000  149000  770000   30000
  335000  399000   65000  169999  165000  560000  950000  715000   45000
  940000  155555 1500000  495000  800000 1299000  530000 1499000   32000
  405000  760000  750000  419000  140000 1540000  123000  498000  480000
  488000 1525000  548900  725000   99000   52000 2800000  499000  381000
  278000  690000  260000   90001  115000 1599000  159000   51999  215000
   35000 1150000  269000   60000  430000  401919  490000  424000  205000
  549900  435000  189700  389700  360000  295000  114990 1065000  470000
   48000  188000  465000  179999 2190000 2390000 1075000  475000 1025000
  615000 1900000 1490000 1510000 1850000  790000 1725000 1225000   68000
  970000 3100000  899000   88000   53000  568500   71000  590000  795000
   42000  189000  162000   35999 2900000   39999   50500  510000  860000
  500001]
----------------------------------------
Unique values in 'kms_driven':
[ 45000     40  28000  36000  41000  25000  24530  60000  30000  32000
  48660   4000  16934  43000  35550  39522  39000  55000  72000  15975
  70000  23452  35522  48508  15487  82000  20000  68000  38000  27000
  33000  46000  16000  47000  35000  30874  15000  29685 130000  19000
  54000  13000  38200  22000  50000  13500   3600  45863  60500  12500
  18000  13349  29000  44000  42000  14000  49000  36200  51000 104000
  33333  33600   5600   7500  24330  65480 200000  59000  99000   2800
  21000  11000  66000   3000   7000  38500  37200  43200  24800  45872
  40000  11400  97200  52000  31000 175430  37000  65000   3350  75000
  62000  73000   2200  54870  34580  97000     60  80200   3200      0

# ðŸ§¹ Data Quality Issues & Cleaning Plan

## ðŸ§¾ Column-wise Issues

### ðŸ”¸ `name`
- âŒ Inconsistent values: formatting and naming are not standardized
- ðŸ“Œ Contains **company names** along with the model
- ðŸ“› Some entries are **spammy phrases**, e.g., "Maruti Ertiga showroom condition", "Well maintained Tata Sumo"
- âœ… Needs cleaning to extract **only model names** (optional NLP cleaning)

---

### ðŸ”¸ `company`
- âŒ Contains **non-company values** like: `'Used'`, `'URJENT'`, `'Showroom'`, etc.
- âœ… Needs filtering to keep **only valid car brands**

---

### ðŸ”¸ `year`
- âŒ Stored as `object` instead of numeric
- âŒ Has **non-year values** like `'First owner'`, `'Diesel'`, etc.
- âœ… Convert to `int` after removing invalid entries

---

### ðŸ”¸ `Price`
- âŒ Contains `'Ask for Price'` instead of numeric value
- âŒ Includes commas (e.g., `'2,00,000'`) and stored as `object`
- âœ… Drop or convert `'Ask for Price'` to `NaN` and convert to `int`

---

### ðŸ”¸ `kms_driven`
- âŒ Stored as string with `" kms"` at the end
- âŒ Includes commas (e.g., `'1,30,000 kms'`)
- âŒ Some values are **invalid**, e.g., `'Petrol'`
- âœ… Remove `" kms"`, clean commas, convert to numeric

---

### ðŸ”¸ `fuel_type`
- âŒ Has missing (`NaN`) values
- âœ… Fill with `'Unknown'` or mode (`most frequent value`)

---

# Cleaning Data
- year has many non-year values

In [83]:

car = car[car['year'].str.isnumeric()]

AttributeError: Can only use .str accessor with string values!

- year is in object. Change to integer

In [84]:
car['year']=car['year'].astype(int)

- Price has Ask for Price

In [85]:
car=car[car['Price']!='Ask For Price']

- Price has commas in its prices and is in object

In [86]:
car['Price']=car['Price'].str.replace(',','').astype(int)

AttributeError: Can only use .str accessor with string values!

- kms_driven has object values with kms at last.

In [87]:
car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')

AttributeError: Can only use .str accessor with string values!

- It has nan values and two rows have 'Petrol' in them

In [17]:
car=car[car['kms_driven'].str.isnumeric()]

In [18]:
car['kms_driven']=car['kms_driven'].astype(int)

- fuel_type has nan values

In [19]:
car=car[~car['fuel_type'].isna()]

In [20]:
car.shape

(816, 6)

In [21]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0    name       816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.6+ KB

### âœ… Commit: Cleaned Car Dataset

- Removed rows with invalid or missing `fuel_type`
- Converted `year` to numeric and dropped non-numeric entries
- Cleaned `Price` and `kms_driven` columns (removed commas, converted to int)
- Trimmed `name` column to first three words for consistency
- Verified `company` column â€” no cleaning needed after spam removal

In [88]:
car['name']=car['name'].str.split().str.slice(start=0,stop=3).str.join(' ')

### Resetting the index of the final cleaned data

In [23]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [35]:
car.to_csv('cleaned_car_data.csv')

In [36]:

car.describe(include='all')

              name company         year         Price     kms_driven fuel_type
count          815     815   815.000000  8.150000e+02     815.000000       815
unique         463      25          NaN           NaN            NaN         3
top     Honda City  Maruti          NaN           NaN            NaN    Petrol
freq            13     221          NaN           NaN            NaN       428
mean           NaN     NaN  2012.442945  4.017933e+05   46277.096933       NaN
std            NaN     NaN     4.005079  3.815888e+05   34318.459638       NaN
min            NaN     NaN  1995.000000  3.000000e+04       0.000000       NaN
25%            NaN     NaN  2010.000000  1.750000e+05   27000.000000       NaN
50%            NaN     NaN  2013.000000  2.999990e+05   41000.000000       NaN
75%            NaN     NaN  2015.000000  4.900000e+05   56879.000000       NaN
max            NaN     NaN  2019.000000  3.100000e+06  400000.000000       NaN

### As most of the price lie bellow 6l how max is 8.5l that mean there might be outlier

In [37]:
car[car['Price']>6000000]

Empty DataFrame
Columns: [ name, company, year, Price, kms_driven, fuel_type]
Index: []

In [38]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [39]:
car=car[car['Price']<6000000]

# Checking relationship of Company with Price

In [89]:
car['name'].unique()

array(['Hyundai Santro Xing', 'Mahindra Jeep CL550', 'Hyundai Grand i10',
       'Ford EcoSport Titanium', 'Ford Figo', 'Hyundai Eon',
       'Ford EcoSport Ambiente', 'Maruti Suzuki Alto',
       'Skoda Fabia Classic', 'Maruti Suzuki Stingray',
       'Hyundai Elite i20', 'Mahindra Scorpio SLE', 'Audi A8', 'Audi Q7',
       'Mahindra Scorpio S10', 'Hyundai i20 Sportz',
       'Maruti Suzuki Vitara', 'Mahindra Bolero DI',
       'Maruti Suzuki Swift', 'Maruti Suzuki Wagon', 'Toyota Innova 2.0',
       'Renault Lodgy 85', 'Skoda Yeti Ambition', 'Maruti Suzuki Baleno',
       'Renault Duster 110', 'Renault Duster 85', 'Honda City 1.5',
       'Maruti Suzuki Dzire', 'Honda Amaze', 'Honda Amaze 1.5',
       'Honda City', 'Datsun Redi GO', 'Maruti Suzuki SX4',
       'Mitsubishi Pajero Sport', 'Honda City ZX', 'Tata Indigo eCS',
       'Volkswagen Polo Highline', 'Chevrolet Spark LS',
       'Renault Duster 110PS', 'Mini Cooper S', 'Skoda Fabia 1.2L',
       'Renault Duster', 'Mahindra Scorpio S4', 'Mahindra Scorpio VLX',
       'Mahindra Quanto C8', 'Ford EcoSport', 'Honda Brio',
       'Volkswagen Vento Highline', 'Hyundai i20 Magna',
       'Toyota Corolla Altis', 'Hyundai Verna Transform', 'BMW 3 Series',
       'Maruti Suzuki A', 'Toyota Etios GD', 'Ford Figo Diesel',
       'Chevrolet Beat LT', 'BMW 7 Series', 'Mahindra XUV500 W8',
       'Hyundai i10 Magna', 'Hyundai Verna Fluidic',
       'Maruti Suzuki Ertiga', 'Honda Amaze 1.2', 'Hyundai i20 Asta',
       'Maruti Suzuki Eeco', 'Maruti Suzuki Esteem', 'Maruti Suzuki Ritz',
       'Toyota Etios Liva', 'Chevrolet Spark', 'Nissan Micra XV',
       'Chevrolet Beat', 'Ford EcoSport Trend', 'Tata Indica V2',
       'Hindustan Motors Ambassador', 'Toyota Innova 2.5',
       'Volkswagen Jetta Highline', 'Volkswagen Polo Comfortline',
       'Volkswagen Polo', 'Mahindra Scorpio', 'Nissan Sunny',
       'Renault Kwid', 'Chevrolet Spark LT', 'Fiat Punto Emotion',
       'Hyundai i10 Sportz', 'Chevrolet Beat LS', 'Tata Indigo CS',
       'Hyundai Eon Era', 'Mahindra XUV500', 'Ford Fiesta', 'Hyundai i20',
       'Hyundai Fluidic Verna', 'Fiat Petra ELX', 'Maruti Suzuki Ciaz',
       'Maruti Suzuki Zen', 'Hyundai Creta 1.6', 'Mahindra Scorpio SLX',
       'Tata Nano Cx', 'Tata Sumo Victa', 'Volkswagen Passat Diesel',
       'Renault Scala RxL', 'Hyundai i20 Active', 'Mahindra Xylo E4',
       'Mahindra Jeep MM', 'Mahindra Bolero SLE', 'Force Motors Force',
       'Toyota Etios', 'Honda City VX', 'Mahindra Thar CRDe',
       'Audi A4 1.8', 'Mercedes Benz GLA', 'Land Rover Freelander',
       'Renault Kwid RXT', 'Tata Aria Pleasure', 'Mercedes Benz B',
       'Datsun GO T', 'Honda Jazz VX', 'Chevrolet Tavera Neo',
       'Hyundai Eon Sportz', 'Tata Sumo Gold', 'Chevrolet Enjoy 1.4',
       'Nissan Terrano XL', 'Maruti Suzuki Maruti', 'Renault Kwid 1.0',
       'Hyundai Accent GLX', 'Mahindra TUV300 T4', 'Honda Accord',
       'Mahindra Scorpio 2.6', 'Honda Mobilio', 'Skoda Laura',
       'Tata Manza Aura', 'Chevrolet Sail UVA', 'Audi A4 2.0',
       'Hyundai Elantra SX', 'Mahindra KUV100 K8', 'Hyundai i10',
       'Hyundai Accent', 'Hyundai Verna', 'Toyota Fortuner',
       'Mahindra Bolero Power', 'Skoda Rapid Elegance',
       'Tata Vista Quadrajet', 'Chevrolet Beat Diesel',
       'Hyundai Verna 1.4', 'Maruti Suzuki Versa', 'Tata Indigo LX',
       'Volkswagen Vento Konekt', 'Mercedes Benz C', 'Maruti Suzuki Omni',
       'Hyundai Sonata Transform', 'Honda Jazz S', 'Mahindra Scorpio W',
       'Honda Brio V', 'Mahindra TUV300 T8', 'Nissan X Trail',
       'Ford Ikon 1.3', 'Toyota Fortuner 3.0', 'Tata Manza ELAN',
       'Mercedes Benz A', 'Tata Indigo LS', 'Hyundai Verna 1.6',
       'BMW 5 Series', 'Skoda Superb 1.8', 'Audi Q3 2.0',
       'Ford Figo Duratorq', 'Mahindra Logan Diesel', 'Tata Nano GenX',
       'Honda City SV', 'Ford Figo Petrol', 'Toyota Corolla H2',
       'Hyundai Xcent Base', 'Hyundai Accent Executive', 'Tata Zest XE',
       'Mahindra XUV500 W6', 'Tata Tigor Revotron', 'Maruti Suzuki 800',
       'Honda Mobilio S', 'Tata Indica', 'Honda Brio VX', 'Tata Nano Lx',
       'Jaguar XE XE', 'Hyundai Eon Magna', 'Hyundai Eon D',
       'Maruti Suzuki Estilo', 'Mahindra Scorpio Vlx',
       'Mitsubishi Lancer 1.8', 'Ford Fiesta SXi', 'Audi A6 2.0',
       'Hyundai Getz Prime', 'Hyundai Santro', 'Chevrolet Beat PS',
       'BMW X1 xDrive20d', 'Tata Nano', 'Chevrolet Cruze LTZ',
       'Mahindra XUV500 W10', 'Hyundai Accent GLE', 'Force Motors One',
       'Chevrolet Spark 1.0', 'Renault Duster 85PS', 'Chevrolet Enjoy',
       'Jeep Wrangler Unlimited', 'Hyundai Verna VGT',
       'Maruti Suzuki Celerio', 'Tata Zest Quadrajet', 'Hyundai i10 Era',
       'Tata Indigo Marina', 'Hyundai Xcent SX', 'Tata Nano LX',
       'Mahindra Xylo E8', 'Tata Manza Aqua', 'Tata Venture EX',
       'Skoda Octavia Classic', 'Ford Ikon 1.6', 'Nissan Sunny XL',
       'Volkswagen Polo Trendline', 'Hyundai Elantra 1.8',
       'Tata Indica eV2', 'Jaguar XF 2.2', 'Audi Q5 2.0',
       'BMW X1 sDrive20d', 'Maruti Suzuki S',
       'Volkswagen Vento Comfortline', 'Mahindra KUV100',
       'Volkswagen Jetta Comfortline', 'Volvo S80 Summum', 'BMW X1',
       'Renault Duster RxL', 'Honda WR V', 'Mahindra Scorpio LX',
       'Audi A3 Cabriolet', 'Hyundai Santro AE', 'Mahindra Xylo D2',
       'Hyundai Getz GLE', 'Nissan Micra XL', 'Chevrolet Tavera LS',
       'Tata Tiago Revotron', 'Tata Tiago Revotorq', 'Ford Fusion 1.4',
       'Fiat Linea Emotion', 'Toyota Corolla', 'Tata Sumo Grande',
       'Volkswagen Polo Highline1.2L', 'Hyundai Creta', 'Tata Bolt XM',
       'Datsun Go Plus', 'Ford Endeavor 4x4', 'Mahindra Logan',
       'Chevrolet Sail 1.2', 'Tata Manza', 'Toyota Etios G',
       'Toyota Qualis', 'Mahindra Quanto C4', 'Hyundai i20 Select',
       'Hyundai Getz', 'Skoda Fabia', 'Tata Zest XM'], dtype=object)

In [41]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [42]:
plt.subplots(figsize=(15,7))
ax=sns.boxplot(x='company',y='Price',data=car)
ax.set_xticklabels(ax.get_xticklabels(),rotation=40,ha='right')
plt.show()

NameError: name 'plt' is not defined

### Checking relationship of Year with Price

In [43]:
plt.subplots(figsize=(20,10))
ax=sns.swarmplot(x='year',y='Price',data=car)
ax.set_xticklabels(ax.get_xticklabels(),rotation=40,ha='right')
plt.show()

NameError: name 'plt' is not defined

### Checking relationship of kms_driven with Price

In [44]:
import matplotlib.pyplot as plt

sns.relplot(x='kms_driven', y='Price', data=car, height=7, aspect=1.5)
plt.xscale('log')   # if kms_driven varies a lot
plt.yscale('log')   # optional for price
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

In [45]:
sns.scatterplot(x='kms_driven', y='Price', data=car)
plt.show()

NameError: name 'sns' is not defined

### Checking relationship of Fuel Type with Price

In [46]:
# plt.subplots(figsize=(14,7))
sns.boxplot(x='fuel_type',y='Price',data=car)
plt.show()

NameError: name 'sns' is not defined

### Relationship of Price with FuelType, Year and Company mixed

In [47]:
ax=sns.relplot(x='company',y='Price',data=car,hue='fuel_type',size='year',height=7,aspect=2)
ax.set_xticklabels(rotation=40,ha='right')
plt.show()

NameError: name 'sns' is not defined

### Extracting Training Data

In [48]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [90]:
car = pd.read_csv('Cleaned_Car_data.csv')
print(car.columns)

Index(['Unnamed: 0', ' name', 'company', 'year', 'Price', 'kms_driven',
       'fuel_type'],
      dtype='object')

In [91]:
car = pd.read_csv('Cleaned_Car_data.csv', header=0)

In [96]:
print(car.columns)

Index(['Unnamed: 0', 'name', 'company', 'year', 'Price', 'kms_driven',
       'fuel_type'],
      dtype='object')

In [97]:
car = pd.read_csv('Cleaned_Car_data.csv')
car.columns = car.columns.str.strip()  # This removes any leading/trailing spaces

In [98]:
X=car[['name','company','year','kms_driven','fuel_type']]
y=car['Price']

In [99]:
X

,name,company,year,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,40,Diesel
2,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,28000,Petrol
3,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,36000,Diesel
4,Ford Figo,Ford,2012,41000,Diesel
...,...,...,...,...,...
810,Maruti Suzuki Ritz VXI ABS,Maruti,2011,50000,Petrol
811,Tata Indica V2 DLE BS III,Tata,2009,30000,Diesel
812,Toyota Corolla Altis,Toyota,2009,132000,Petrol
813,Tata Zest XM Diesel,Tata,2018,27000,Diesel
814,Mahindra Quanto C8,Mahindra,2013,40000,Diesel

In [100]:
y.shape

(815,)

### Applying Train Test Split

In [101]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [102]:

from sklearn.linear_model import LinearRegression

In [103]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

### Creating an OneHotEncoder object to contain all the possible categories

In [104]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [105]:
### Creating a column transformer to transform categorical columns

In [106]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

### Linear Regression Model

In [107]:

lr=LinearRegression()

### Making a pipeline

In [108]:
pipe=make_pipeline(column_trans,lr)

### Fitting the model

In [109]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet 40 TFSI',
       'Audi A4 1.8 TFSI Multitronic Premium Plus',
       'Audi A4 2.0 TDI 177bhp Premium', 'Audi A6 2.0 TDI Premium',
       'Audi A8', 'Audi Q3 2.0 TDI quattro Premium',
       'Audi Q5 2.0 TDI quattro Premium Plus', 'Audi Q7',
       'BMW 3 Series 320d...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [110]:
y_pred=pipe.predict(X_test)

### Checking R2 Score

In [111]:
r2_score(y_test,y_pred)

0.5017034340955598

In [112]:
### Finding the model with a random state of TrainTestSplit where the model was found to give almost 0.92 as r2_score

In [113]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [114]:
np.argmax(scores)

np.int64(636)

In [115]:
scores[np.argmax(scores)]

0.8656074115232235

In [125]:
pipe.predict(pd.DataFrame(columns=X_test.columns,data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

array([461407.85513029])

### The best model is found at a certain random state

In [117]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8656074115232235

In [118]:
import pickle

In [129]:
model=pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [128]:
pipe.predict(pd.DataFrame(columns=['name','company','year','kms_driven','fuel_type'],data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

array([461407.85513029])

In [121]:
pipe.steps[0][1].transformers[0][1].categories[0]

array(['Audi A3 Cabriolet 40 TFSI',
       'Audi A4 1.8 TFSI Multitronic Premium Plus',
       'Audi A4 2.0 TDI 177bhp Premium', 'Audi A6 2.0 TDI Premium',
       'Audi A8', 'Audi Q3 2.0 TDI quattro Premium',
       'Audi Q5 2.0 TDI quattro Premium Plus', 'Audi Q7',
       'BMW 3 Series 320d Sedan', 'BMW 3 Series 320i',
       'BMW 5 Series 520d Sedan', 'BMW 5 Series 530i',
       'BMW 7 Series 740Li Sedan', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d xLine', 'Chevrolet Beat',
       'Chevrolet Beat Diesel', 'Chevrolet Beat LS Diesel',
       'Chevrolet Beat LS Petrol', 'Chevrolet Beat LT Diesel',
       'Chevrolet Beat LT Opt Diesel', 'Chevrolet Beat LT Petrol',
       'Chevrolet Beat PS Diesel', 'Chevrolet Cruze LTZ',
       'Chevrolet Cruze LTZ AT', 'Chevrolet Enjoy',
       'Chevrolet Enjoy 1.4 LS 8 STR', 'Chevrolet Sail 1.2 LS',
       'Chevrolet Sail UVA Petrol LT ABS', 'Chevrolet Spark',
       'Chevrolet Spark 1.0 LT', 'Chevrolet Spark LS 1.0',
       'Chevrolet Spark LT 1.0', 'Chevrolet Spark LT 1.0 Airbag',
       'Chevrolet Tavera LS B3 10 Seats BSII', 'Chevrolet Tavera Neo',
       'Datsun GO T O', 'Datsun Go Plus', 'Datsun Redi GO',
       'Datsun Redi GO S', 'Datsun Redi GO T O',
       'Fiat Linea Emotion 1.4 L T Jet Petrol', 'Fiat Petra ELX 1.2 PS',
       'Fiat Punto Emotion 1.2', 'Force Motors Force One LX ABS 7 STR',
       'Force Motors One SUV', 'Ford EcoSport',
       'Ford EcoSport Ambiente 1.5L TDCi',
       'Ford EcoSport Titanium 1.5 TDCi',
       'Ford EcoSport Titanium 1.5L TDCi',
       'Ford EcoSport Trend 1.5 Ti VCT', 'Ford EcoSport Trend 1.5L TDCi',
       'Ford EcoSport Trend 1.5L Ti VCT',
       'Ford Endeavor 4x4 Thunder Plus', 'Ford Fiesta',
       'Ford Fiesta SXi 1.6 ABS', 'Ford Figo', 'Ford Figo Diesel EXI',
       'Ford Figo Diesel EXI Option',
       'Ford Figo Duratorq Diesel Titanium 1.4', 'Ford Figo Petrol LXI',
       'Ford Figo Petrol Titanium', 'Ford Fusion 1.4 TDCi Diesel',
       'Ford Ikon 1.3 CLXi NXt Finesse', 'Ford Ikon 1.3 Flair Josh 100',
       'Ford Ikon 1.6 Nxt', 'Hindustan Motors Ambassador',
       'Hindustan Motors Ambassador Classic Mark 4 â€“ Befo',
       'Honda Accord', 'Honda Amaze', 'Honda Amaze 1.2 S i VTEC',
       'Honda Amaze 1.2 VX i VTEC', 'Honda Amaze 1.5 E i DTEC',
       'Honda Amaze 1.5 S i DTEC', 'Honda Amaze 1.5 SX i DTEC',
       'Honda Brio', 'Honda Brio V MT', 'Honda Brio VX AT', 'Honda City',
       'Honda City 1.5 E MT', 'Honda City 1.5 EXi New',
       'Honda City 1.5 S Inspire', 'Honda City 1.5 S MT',
       'Honda City 1.5 V AT', 'Honda City 1.5 V MT',
       'Honda City 1.5 V MT Exclusive', 'Honda City SV',
       'Honda City VX O MT Diesel', 'Honda City VX Petrol',
       'Honda City ZX CVT', 'Honda City ZX EXi', 'Honda City ZX GXi',
       'Honda City ZX VTEC', 'Honda Jazz S MT', 'Honda Jazz VX MT',
       'Honda Mobilio', 'Honda Mobilio S i DTEC',
       'Honda WR V S MT Petrol', 'Hyundai Accent',
       'Hyundai Accent Executive Edition', 'Hyundai Accent GLE',
       'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6 SX',
       'Hyundai Creta 1.6 SX Plus Petrol',
       'Hyundai Creta 1.6 SX Plus Petrol AT', 'Hyundai Elantra 1.8 S',
       'Hyundai Elantra SX', 'Hyundai Elite i20',
       'Hyundai Elite i20 Asta 1.2', 'Hyundai Elite i20 Asta 1.4 CRDI',
       'Hyundai Elite i20 Magna 1.2', 'Hyundai Elite i20 Sportz 1.2',
       'Hyundai Eon', 'Hyundai Eon D Lite Plus', 'Hyundai Eon Era Plus',
       'Hyundai Eon Magna', 'Hyundai Eon Magna Plus',
       'Hyundai Eon Sportz', 'Hyundai Fluidic Verna 1.6 CRDi SX',
       'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime 1.3 GLX',
       'Hyundai Getz Prime 1.3 GVS', 'Hyundai Grand i10',
       'Hyundai Grand i10 Asta 1.1 CRDi',
       'Hyundai Grand i10 Asta 1.2 Kappa VTVT',
       'Hyundai Grand i10 Asta 1.2 Kappa VTVT O',
       'Hyundai Grand i10 Magna 1.2 Kappa VTVT',
       'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT',
       'Hyundai Grand i10 Sportz 1.2 Kappa VTVT',
       'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT', 'Hyundai Santro',
       'Hyundai Santro AE GLS Audio', 'Hyundai Santro Xing',
       'Hyundai Santro Xing GL', 'Hyundai Santro Xing GLS',
       'Hyundai Santro Xing XL AT eRLX Euro III',
       'Hyundai Santro Xing XL eRLX Euro III',
       'Hyundai Santro Xing XO eRLX Euro III', 'Hyundai Santro Xing XS',
       'Hyundai Sonata Transform 2.4 GDi MT', 'Hyundai Verna',
       'Hyundai Verna 1.4 VTVT', 'Hyundai Verna 1.6 CRDI E',
       'Hyundai Verna 1.6 CRDI SX', 'Hyundai Verna 1.6 CRDI SX Plus AT',
       'Hyundai Verna 1.6 EX VTVT', 'Hyundai Verna 1.6 SX VTVT AT',
       'Hyundai Verna Fluidic', 'Hyundai Verna Fluidic 1.6 VTVT SX',
       'Hyundai Verna Fluidic New', 'Hyundai Verna Transform SX VTVT',
       'Hyundai Verna VGT CRDi SX ABS', 'Hyundai Xcent Base 1.1 CRDi',
       'Hyundai Xcent SX 1.2', 'Hyundai i10', 'Hyundai i10 Era',
       'Hyundai i10 Magna 1.2', 'Hyundai i10 Magna 1.2 Kappa2',
       'Hyundai i10 Sportz', 'Hyundai i10 Sportz 1.2', 'Hyundai i20',
       'Hyundai i20 Active', 'Hyundai i20 Active 1.2 SX',
       'Hyundai i20 Active 1.4L SX O', 'Hyundai i20 Asta',
       'Hyundai i20 Asta 1.2', 'Hyundai i20 Asta 1.4 CRDI 6 Speed',
       'Hyundai i20 Magna', 'Hyundai i20 Magna 1.2',
       'Hyundai i20 Magna O 1.2', 'Hyundai i20 Select Variant',
       'Hyundai i20 Sportz 1.2', 'Hyundai i20 Sportz 1.4 CRDI',
       'Jaguar XE XE Portfolio', 'Jaguar XF 2.2 Diesel Luxury',
       'Jeep Wrangler Unlimited 4x4 Diesel', 'Land Rover Freelander 2 SE',
       'Mahindra Bolero DI', 'Mahindra Bolero DI BSII',
       'Mahindra Bolero Power Plus SLE', 'Mahindra Bolero SLE BS IV',
       'Mahindra Jeep CL550 MDI', 'Mahindra Jeep MM 550 XDB',
       'Mahindra KUV100', 'Mahindra KUV100 K8 6 STR',
       'Mahindra KUV100 K8 D 6 STR', 'Mahindra Logan',
       'Mahindra Logan Diesel 1.5 DLS', 'Mahindra Quanto C4',
       'Mahindra Quanto C8', 'Mahindra Scorpio',
       'Mahindra Scorpio 2.6 CRDe', 'Mahindra Scorpio 2.6 SLX',
       'Mahindra Scorpio LX BS III', 'Mahindra Scorpio S10',
       'Mahindra Scorpio S10 4WD', 'Mahindra Scorpio S4',
       'Mahindra Scorpio SLE BS IV', 'Mahindra Scorpio SLX',
       'Mahindra Scorpio SLX 2.6 Turbo 8 Str',
       'Mahindra Scorpio VLX 2.2 mHawk Airbag BSIV',
       'Mahindra Scorpio VLX 2WD BS IV',
       'Mahindra Scorpio VLX 4WD Airbag', 'Mahindra Scorpio VLX Airbag',
       'Mahindra Scorpio VLX Special Edition BS III',
       'Mahindra Scorpio Vlx BSIV',
       'Mahindra Scorpio W Turbo 2.6DX 9 Seater',
       'Mahindra TUV300 T4 Plus', 'Mahindra TUV300 T8',
       'Mahindra Thar CRDe 4x4 AC', 'Mahindra XUV500',
       'Mahindra XUV500 W10', 'Mahindra XUV500 W6', 'Mahindra XUV500 W8',
       'Mahindra XUV500 W8 AWD 2013', 'Mahindra Xylo D2',
       'Mahindra Xylo D2 BS IV', 'Mahindra Xylo E4', 'Mahindra Xylo E8',
       'Mahindra Xylo E8 BS IV', 'Maruti Suzuki 800',
       'Maruti Suzuki 800 Std BS III', 'Maruti Suzuki A Star Lxi',
       'Maruti Suzuki Alto', 'Maruti Suzuki Alto 800',
       'Maruti Suzuki Alto 800 LXI CNG O', 'Maruti Suzuki Alto 800 Lx',
       'Maruti Suzuki Alto 800 Lxi', 'Maruti Suzuki Alto 800 Vxi',
       'Maruti Suzuki Alto AX', 'Maruti Suzuki Alto K10 LXi CNG',
       'Maruti Suzuki Alto K10 New', 'Maruti Suzuki Alto K10 VXi',
       'Maruti Suzuki Alto K10 VXi AMT', 'Maruti Suzuki Alto K10 VXi AT',
       'Maruti Suzuki Alto LX', 'Maruti Suzuki Alto LXi BS III',
       'Maruti Suzuki Alto Std BS IV', 'Maruti Suzuki Baleno Delta 1.2',
       'Maruti Suzuki Baleno Sigma 1.2', 'Maruti Suzuki Baleno Zeta 1.2',
       'Maruti Suzuki Celerio VDi', 'Maruti Suzuki Ciaz VXi Plus',
       'Maruti Suzuki Ciaz ZXI Plus', 'Maruti Suzuki Ciaz ZXi Plus RS',
       'Maruti Suzuki Dzire', 'Maruti Suzuki Dzire LDI',
       'Maruti Suzuki Dzire VDI', 'Maruti Suzuki Dzire ZXI',
       'Maruti Suzuki Eeco 5 STR WITH AC HTR', 'Maruti Suzuki Eeco 7 STR',
       'Maruti Suzuki Ertiga', 'Maruti Suzuki Ertiga LDi',
       'Maruti Suzuki Ertiga VDi', 'Maruti Suzuki Ertiga Vxi',
       'Maruti Suzuki Ertiga ZXI Plus', 'Maruti Suzuki Ertiga ZXi',
       'Maruti Suzuki Esteem LXi BS III',
       'Maruti Suzuki Esteem VXi BS III', 'Maruti Suzuki Estilo LX BS IV',
       'Maruti Suzuki Estilo VXi ABS BS IV',
       'Maruti Suzuki Maruti 800 AC', 'Maruti Suzuki Maruti 800 Std',
       'Maruti Suzuki Maruti 800 Std â€“ Befo', 'Maruti Suzuki Omni',
       'Maruti Suzuki Omni 8 STR BS III',
       'Maruti Suzuki Omni E 8 STR BS IV', 'Maruti Suzuki Omni LPG BS IV',
       'Maruti Suzuki Omni Limited Edition',
       'Maruti Suzuki Omni Select Variant', 'Maruti Suzuki Ritz',
       'Maruti Suzuki Ritz GENUS VXI', 'Maruti Suzuki Ritz LDi',
       'Maruti Suzuki Ritz VDi', 'Maruti Suzuki Ritz VXI',
       'Maruti Suzuki Ritz VXI ABS', 'Maruti Suzuki S Cross Sigma 1.3',
       'Maruti Suzuki SX4', 'Maruti Suzuki SX4 Celebration Diesel',
       'Maruti Suzuki SX4 ZXI MT', 'Maruti Suzuki Stingray VXi',
       'Maruti Suzuki Swift', 'Maruti Suzuki Swift Dzire',
       'Maruti Suzuki Swift Dzire Tour LDi',
       'Maruti Suzuki Swift Dzire Tour LXi',
       'Maruti Suzuki Swift Dzire Tour VDi',
       'Maruti Suzuki Swift Dzire Tour VXi',
       'Maruti Suzuki Swift Dzire VDi',
       'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
       'Maruti Suzuki Swift Dzire ZDi', 'Maruti Suzuki Swift GLAM',
       'Maruti Suzuki Swift LDi', 'Maruti Suzuki Swift RS VDI',
       'Maruti Suzuki Swift Select Variant', 'Maruti Suzuki Swift VDi',
       'Maruti Suzuki Swift VDi ABS', 'Maruti Suzuki Swift VDi BS IV',
       'Maruti Suzuki Swift VXI BSIII',
       'Maruti Suzuki Swift VXi 1.2 ABS BS IV',
       'Maruti Suzuki Swift VXi 1.2 BS IV',
       'Maruti Suzuki Swift Vdi BSIII',
       'Maruti Suzuki Swift ZXi 1.2 BS IV',
       'Maruti Suzuki Versa DX2 8 SEATER BSIII',
       'Maruti Suzuki Vitara Brezza', 'Maruti Suzuki Vitara Brezza LDi O',
       'Maruti Suzuki Vitara Brezza ZDi', 'Maruti Suzuki Wagon R',
       'Maruti Suzuki Wagon R 1.0', 'Maruti Suzuki Wagon R 1.0 VXi',
       'Maruti Suzuki Wagon R AX BSIV', 'Maruti Suzuki Wagon R Duo Lxi',
       'Maruti Suzuki Wagon R LX BS III',
       'Maruti Suzuki Wagon R LX BS IV',
       'Maruti Suzuki Wagon R LXI BS IV',
       'Maruti Suzuki Wagon R LXi BS III',
       'Maruti Suzuki Wagon R Select Variant',
       'Maruti Suzuki Wagon R VXI BS IV',
       'Maruti Suzuki Wagon R VXi BS III',
       'Maruti Suzuki Wagon R VXi Minor', 'Maruti Suzuki Zen Estilo',
       'Maruti Suzuki Zen Estilo LXI Green CNG',
       'Maruti Suzuki Zen LX BSII', 'Maruti Suzuki Zen LXi BS III',
       'Maruti Suzuki Zen LXi BSII', 'Maruti Suzuki Zen VX',
       'Mercedes Benz A Class A 180 Sport Petrol',
       'Mercedes Benz B Class B180 Sports',
       'Mercedes Benz C Class 200 CDI Classic',
       'Mercedes Benz C Class 200 K MT',
       'Mercedes Benz C Class C 220 CDI Avantgarde',
       'Mercedes Benz GLA Class 200 CDI Sport', 'Mini Cooper S',
       'Mini Cooper S 1.6', 'Mitsubishi Lancer 1.8 LXi',
       'Mitsubishi Pajero Sport 2.5 AT',
       'Mitsubishi Pajero Sport Limited Edition', 'Nissan Micra XL',
       'Nissan Micra XV', 'Nissan Sunny', 'Nissan Sunny XL',
       'Nissan Terrano XL D Plus', 'Nissan X Trail Select Variant',
       'Renault Duster', 'Renault Duster 110 PS RxL Diesel',
       'Renault Duster 110 PS RxZ Diesel',
       'Renault Duster 110 PS RxZ Diesel Plus',
       'Renault Duster 110PS Diesel RxZ',
       'Renault Duster 85 PS RxE Diesel',
       'Renault Duster 85 PS RxL Diesel',
       'Renault Duster 85 PS RxL Explore LE',
       'Renault Duster 85PS Diesel RxL Optional with Nav',
       'Renault Duster RxL Petrol', 'Renault Kwid', 'Renault Kwid 1.0',
       'Renault Kwid 1.0 RXT AMT', 'Renault Kwid RXT',
       'Renault Kwid RXT Opt', 'Renault Lodgy 85 PS RXL',
       'Renault Scala RxL Diesel', 'Renault Scala RxL Diesel Travelogue',
       'Skoda Fabia', 'Skoda Fabia 1.2L Diesel Ambiente',
       'Skoda Fabia 1.2L Diesel Elegance', 'Skoda Fabia Classic 1.2 MPI',
       'Skoda Laura', 'Skoda Octavia Classic 1.9 TDI MT',
       'Skoda Rapid Elegance 1.6 TDI CR MT', 'Skoda Superb 1.8 TFSI AT',
       'Skoda Yeti Ambition 2.0 TDI CR 4x2', 'Tata Aria Pleasure 4X2',
       'Tata Bolt XM Petrol', 'Tata Indica', 'Tata Indica V2',
       'Tata Indica V2 DLE BS III', 'Tata Indica V2 DLG',
       'Tata Indica V2 DLS BS III', 'Tata Indica V2 DLX BS III',
       'Tata Indica V2 LS', 'Tata Indica V2 Xeta e GLE',
       'Tata Indica V2 eLS', 'Tata Indica eV2 LS',
       'Tata Indica eV2 eXeta eGLX', 'Tata Indigo CS',
       'Tata Indigo CS GLS', 'Tata Indigo CS LS DiCOR',
       'Tata Indigo CS eLS BS IV', 'Tata Indigo CS eLX BS IV',
       'Tata Indigo LS', 'Tata Indigo LX TDI BS III',
       'Tata Indigo Marina LS', 'Tata Indigo eCS',
       'Tata Indigo eCS LS CR4 BS IV', 'Tata Indigo eCS LX CR4 BS IV',
       'Tata Indigo eCS LX TDI BS III', 'Tata Indigo eCS VX CR4 BS IV',
       'Tata Manza', 'Tata Manza Aqua Quadrajet',
       'Tata Manza Aura Quadrajet', 'Tata Manza ELAN Quadrajet',
       'Tata Nano', 'Tata Nano Cx BSIV', 'Tata Nano GenX XMA',
       'Tata Nano LX Special Edition', 'Tata Nano Lx BSIV',
       'Tata Sumo Gold EX BS IV', 'Tata Sumo Gold FX BSIII',
       'Tata Sumo Gold LX BS IV', 'Tata Sumo Gold Select Variant',
       'Tata Sumo Grande MKII GX', 'Tata Sumo Victa EX 10 by 7 Str BSIII',
       'Tata Tiago Revotorq XZ', 'Tata Tiago Revotron XM',
       'Tata Tiago Revotron XZ', 'Tata Tigor Revotron XZ',
       'Tata Venture EX 8 STR', 'Tata Vista Quadrajet VX',
       'Tata Zest Quadrajet 1.3', 'Tata Zest XE 75 PS Diesel',
       'Tata Zest XM Diesel', 'Toyota Corolla', 'Toyota Corolla Altis',
       'Toyota Corolla Altis 1.8 GL', 'Toyota Corolla Altis 1.8 J',
       'Toyota Corolla Altis Diesel D4DG',
       'Toyota Corolla Altis GL Petrol',
       'Toyota Corolla Altis Petrol Ltd',
       'Toyota Corolla Altis VL AT Petrol', 'Toyota Corolla H2',
       'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
       'Toyota Etios Liva', 'Toyota Etios Liva Diesel',
       'Toyota Etios Liva G', 'Toyota Etios Liva GD', 'Toyota Fortuner',
       'Toyota Fortuner 3.0 4x2 MT', 'Toyota Fortuner 3.0 4x4 MT',
       'Toyota Innova 2.0 G 8 STR BS IV', 'Toyota Innova 2.0 G4',
       'Toyota Innova 2.5 E 8 STR', 'Toyota Innova 2.5 E MS 7 STR BS IV',
       'Toyota Innova 2.5 G BS III 8 STR',
       'Toyota Innova 2.5 GX BS IV 7 STR', 'Toyota Innova 2.5 V 7 STR',
       'Toyota Innova 2.5 Z Diesel 7 Seater', 'Toyota Qualis',
       'Volkswagen Jetta Comfortline 1.9 TDI AT',
       'Volkswagen Jetta Highline TDI AT',
       'Volkswagen Passat Diesel Comfortline AT', 'Volkswagen Polo',
       'Volkswagen Polo Comfortline 1.2L P',
       'Volkswagen Polo Highline Exquisite P',
       'Volkswagen Polo Highline1.2L P',
       'Volkswagen Polo Trendline 1.5L D',
       'Volkswagen Vento Comfortline Diesel',
       'Volkswagen Vento Comfortline Petrol',
       'Volkswagen Vento Highline Plus 1.5 Diesel AT',
       'Volkswagen Vento Konekt Diesel Highline', 'Volvo S80 Summum D4'],
      dtype=object)

In [124]:
print("Column names:", car.columns.tolist())

Column names: ['Unnamed: 0', 'name', 'company', 'year', 'Price', 'kms_driven', 'fuel_type']

In [123]:
car.columns = car.columns.str.strip()
car.to_csv('Cleaned_Car_data.csv', index=False)  # Overwrite with cleaned version